* {
    margin: 0;
    padding: 0;
}


.main-dv {
    background-image: linear-gradient(rgb(255, 0, 0), rgb(197, 189, 255));
    padding-bottom: 10px;

}

.headinggg {
    padding-top: 30px;
    padding-left: 30px;
    line-height: 0px;
    margin-left: -10px;
    margin-bottom: 30px;
}

.table1 {}

.table1 ul {}

.table1 ul li {
    display: inline-block;
}


.table1 ul li a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: bisque;

    padding-top: 20px;
    font-weight: 700;


}

.FFFF1 {
    margin-left: 320px;
}

.fff21 {
    margin-left: 20px;
}

img {
    max-width: 100%;
}

.rudra {
    width: 100%;
    height: 550px;
    background-image: url('./img/blood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;


}

.whitee {
    color: #ffffff;
}

.sss22 {
    padding-bottom: 20px;
}

.ssssf {
    padding-top: 130px;
    color: #ffffff;
    font-size: 65px;
    padding-bottom: 100px;
}

.overly {
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.link-13 {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: aqua;
    height: 40px;
}

.container {

    text-align: center;
}

.huuud{
    text-align: center;
}